---
layout: page
title: "2020 Lectures"
permalink: /2020/
phony: true
excerpt: '' # work around a bug
---

<ul class="double-spaced">
  {% assign lectures = site['2020'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%-m/%d' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

วิดีโอบันทึกการสอนจะถูกเก็บไว้ที่ <a href="https://www.youtube.com/playlist?list=PLyzOVJj3bHQuloKGG59rS43e29ro7I57J">on YouTube</a>.

<h2>Previous year's lectures</h2>

<p>คุณสามารถดูเนื้อหาและวิดีโอของ <a href="/2019/"> ปีที่แล้ว (2019) ได้นะ </a>. แต่ละปีก็จะมีการสอนคอร์สแบบเดียวกันนี้แหละ ดังนั้น เราจึงอยากแนะนำให้คุณเรียนตามคอร์สของปีล่าสุด (ซึ่งก็คือปี 2020). มันอาจจะมีหัวข้อที่ต่างกันบ้างนิดหน่อย เราก็เลยตัดสินใจที่จะแชร์เนื้อหาของปีก่อน ๆ ไว้ด้วย</p>
